.confirm__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.confirm__heading {
    color: rgb(180, 141, 90);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 70%;
}

.confirm-table {
    border: 1px solid #ddd;
}

.confirm-table__inner {
    width: 100%;
}

.confirm-table__header {
    padding: 15px 40px;
    width: 30%;
    border-bottom: 1px solid #ddd;
    background-color: #eee;
    font-weight: bold;
    text-align: left;
    font-size: 14px;
}

.confirm-table__text {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;


}

.confirm-table__text input {
    width: 100%;
    outline: none;
    border: none;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
}


.form__button {
    margin-top: 30px;
    text-align: center;
}

.form__button-submit {
    width: 15%;
    height: 30px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    margin-right: 30px;
}

.form__button-edit {
    border: none;
    background: none;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    border-bottom: 1px solid;

}

.form__button {
    margin-top: 30px;


}